.black{
    background-color: black;
    color: azure;
    height: 30px;
}

.yellow{
    background-color: yellow;
    color: black;
    height: 30px;
}

div{
    height:200px;
    background-color: black;
    color: aliceblue;
}